<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> - NewTasks </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="app-container">
        <h1>我的任务</h1>
        <div class="task-list" id="task-list"></div>
    </div>
    <script>
        function loadTasks() {
            fetch('/api/tasks')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const taskList = document.getElementById("task-list");
                    taskList.innerHTML = '';
                    
                    for (const task of data) {
                        console.log(task.title);
                        const taskElement = document.createElement("div");
                        taskElement.innerHTML = `<a href="/watch/${task.id}">${task.title}</a>`;
                        taskList.appendChild(taskElement);
                    }
                })
                .catch(error => {
                    console.error('Error loading tasks:', error);
                });
        }
        loadTasks();
        setInterval(loadTasks, 5000);
    </script>

</body>
</html>
