html {
  background-image: url('https://bing.img.run/1920x1080.php');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: black;
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  height: auto;
  position: fixed;
  overflow: auto;
}

ul.navbar li a {
  display: block;
  width: 60px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #555;
  color: white;
}

ul.navbar li.active {
  background-color: #4CAF50;
  color: white;
}
