<!DOCTYPE html>
<html>
<head>
    <title>NewTasks - 首页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/default.css')}}" type="text/css">
</head>
<body>
    <ul class="navbar">
        <li><a href="{{url_for('index')}}">首页</a></li>
        <li><a href="{{url_for('show_tasks')}}">任务列表</a></li>
    </ul>
    <h3> 首页 </h3>
    <code>这里什么也没有也...</code>
    <p>单击此处添加标题</p>
</body>
</html>